{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-budy">
        <h1 class="display-1 text-center">Aplicación Django</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam aliquid cupiditate beatae, reiciendis architecto sed similique amet earum doloremque ipsa, nam quos pariatur, consequatur deserunt at eos! Suscipit, voluptas! At placeat delectus fuga velit repellat, modi eaque eius, illo dolore, eveniet amet excepturi quas cupiditate. Commodi modi cumque iure, autem dolor aperiam mollitia assumenda neque voluptates, eum atque placeat id nisi accusantium eius voluptas quod doloremque enim voluptatum natus? Omnis repellendus ipsa quas corporis, rerum molestias quae excepturi adipisci aperiam nihil assumenda accusamus similique suscipit officia tempore sapiente eos aut vitae nulla recusandae. Qui, quasi itaque. Quas et officiis ea.</p>
        <div class="text-center">
            <a class="btn btn-primary" href="signin">
                Signin
            </a>
            <a class="btn btn-primary" href="signup">
                Signup
            </a>
        </div>
    </section>
</main>
{% endblock %}
