{% extends 'base.html' %}

{% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h1 class="text-secondary">{{p_tarea.titulo}}</h1>

            {{p_error}}
            <form method="POST">
                {% csrf_token %}
                {{p_form.as_p}}
                <button class="btn btn-primary">
                    Guardar
                </button>
            </form>
            <div class="mt-2 d-flex">
                <form action="{% url 'u_tareacompleta' p_tarea.id %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-secondary">
                        Completado
                    </button>
                </form>
            
                <form action="{% url 'u_tareaelimina' p_tarea.id %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-danger">
                        Elimina
                    </button>
                </form>
            </div>
            
        </div>
    </div>
</main>

{% endblock %}